<table class="table">
       <tbody>
           <tr>
                <td>Years</td>
                <td>
                    {% with widget=widget.subwidgets.0 %}
                        {% include widget.template_name %}
                     {% endwith %}
                </td>
                <td>Months</td>
                <td>
                    {% with widget=widget.subwidgets.1 %}
                        {% include widget.template_name %}
                    {% endwith %}
                </td>
               <td>Days</td>
                <td>
                    {% with widget=widget.subwidgets.2 %}
                        {% include widget.template_name %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td>Hours</td>
                <td>
                    {% with widget=widget.subwidgets.3 %}
                        {% include widget.template_name %}
                    {% endwith %}
                </td>
                <td>Minutes</td>
                <td>
                    {% with widget=widget.subwidgets.4 %}
                        {% include widget.template_name %}
                    {% endwith %}
                </td>
                <td colspan="2"></td>
            </tr>
       </tbody>
</table>