<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=15, shrink-to-fit=no">
		<link rel="stylesheet" href="{% static 'css/tracker.css' %}" />

		<title>{% block title %}Base{% endblock%}</title>
		{% bootstrap_css %}
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

		{% bootstrap_javascript %}
		{% bootstrap_jquery %}
		{{ form.media }}
	</head>
	<body>
		<nav class="navbar bg-dark navbar-dark">
			<div class="nav justify-content-start">
				<a href="/"><h1>TaskTracker</h1></a>
				{% if user.is_authenticated %}
					<div class="align-self-center" style="margin-left:20px">
						<a href="{% url 'list_task' list='nolist' %}"  class="btn btn-outline-info">Tasks</a>
						<a href="{% url 'plans' %}" class="btn btn-outline-info">Plans</a>
						<a href="{% url 'show_notifications' key='current'%}" class="btn btn-outline-info">Notifications</a>
					</div>
				{% endif %}
			</div>
			<div class="nav justify-content-end">
				{% if not user.is_authenticated %}
					<a href="{% url 'login' %}" class='btn btn-success'>LogIn</a>
					<a href="{% url 'signup' %}" class='btn btn-success'>SignUp</a>
				{% else %}
					<a class='btn btn-success'>{{user.username}}</a>
					<a class='btn btn-success' href="{% url 'logout' %}">LogOut</a>
				{% endif %}
			</div>
		</nav>
			{% if user.is_authenticated %}
				<div class="container-fluid">
					{% block content%}
					{% endblock %}
				</div>
			{% else %}
				<h2>You're not authorized</h2>
			{% endif %}
			{% block login%}
			{% endblock %}
	</body>
</html>