{% extends 'tracker_app/base.html' %}

{% block title %}Tasks{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="row" style="margin-left:10px">
                <h3>Lists</h3>
                <h3>
                    <a href="{% url 'list_new' %}"><i class="fa fa-plus"></i></a>
                </h3>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td colspan="2">
                             <div class="row">
                                {% if list == "archive" %}
                                    <a class="btn btn-info" href={% url 'list_task' list="archive" %}>Archive</a>
                                {% else %}
                                    <a class="btn btn-default" href={% url 'list_task' list="archive" %}>Archive</a>
                                {% endif %}
                             </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                             <div class="row">
                                {% if list == "nolist" %}
                                    <a class="btn btn-info" href={% url 'list_task' list="nolist" %}>Without list</a>
                                {% else %}
                                    <a class="btn btn-default" href={% url 'list_task' list="nolist" %}>Without list</a>
                                {% endif %}
                             </div>
                        </td>
                    </tr>
                    {% for curlist in all_lists %}
                        <tr>
                            <td>
                                <div class="row">
                                    {% if list != 'archive' and list != 'nocurrent' and list == curlist.id|slugify  %}
                                        <a class="btn btn-info " href={% url 'list_task' list=curlist.id %}>{{ curlist.name }}</a>
                                    {% else %}
                                        <a class="btn btn-default" href={% url 'list_task' list=curlist.id %}>{{ curlist.name }}</a>
                                    {% endif %}
                                    {% if curlist.observers %}
                                        <i class="fa fa-users"></i>
                                        {% if curlist.user != user.username %}
                                            <i class="fa fa-glasses"></i>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="row justify-content-end">
                                    <a href="{% url 'list_show' id=curlist.id %}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                                    {% if curlist.user == user.username %}
                                        <a href="{% url 'list_edit' id=curlist.id %}" class="btn btn-success btn-sm"><i class="fa fa-pencil-alt"></i></a>
                                    {% endif %}
                                    <a href="{% url 'list_remove' id=curlist.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Do you really want to remove this list?')">
                                    <i class="fa fa-trash" ></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-9">
            <div class="row" style="margin-left:10px">
                <h3>Tasks</h3>
                <h3>
                    {% if list != "archive" and can_add_task == "true" %}
                        <a href="{% url 'add_task' list=list parent_id=0%}"><i class="fa fa-plus"></i></a>
                    {% endif %}
                </h3>
            </div>
            {% if tasks %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Created</th>
                            <th>Deadline</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th class="th_actions">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.id }}</td>
                                <td>{{ task.name }}</td>
                                <td>{{ task.created_at }}</td>
                                <td>{% if task.deadline %}
                                        {{ task.deadline }}
                                    {% else %}
                                        No deadline
                                    {% endif %}
                                </td>
                                <td>{{ task.priority }}</td>
                                <td>{{ task.status }}</td>
                                <td>
                                    <a  class='btn btn-info btn-sm' href={% url 'show_task' list=list task_id=task.id %}><i class="fa fa-eye"></i></a>
                                    {% if task.status.name != "ARCHIVED" %}
                                        {% if task.user == user.username or task.id in executor_task_ids %}
                                            {% if task.user == user.username %}
                                                <a  class='btn btn-warning btn-sm' href={% url 'edit_task' list=list task_id=task.id path="listtask" %}><i class="fa fa-pencil-alt"></i></a>
                                            {% else %}
                                                <a  class='btn btn-warning btn-sm' href={% url 'edit_task_as_executor' list=list task_id=task.id path="listtask" %}><i class="fa fa-pencil-alt"></i></a>
                                            {% endif %}
                                            <form style='display: inline-block;' action={% url 'status_change' task_id=task.id list=list brpath='ltask' %} method='post'>
                                                {% csrf_token %}
                                                <button type='submit' class='btn btn-success btn-sm'><i class="fa fa-arrow-up"></i></button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                    {% if user.username == task.user %}
                                        <form style='display: inline-block;' action={% url 'remove_task' list=list task_id=task.id %} method='post'>
                                            {% csrf_token %}
                                            <button type='submit' class='btn btn-default btn-sm' onclick="return confirm('Do you really want to delete this task?')"><i class="fa fa-trash" ></i></button>
                                        </form>
                                    {% endif %}
                                </td>
                            <tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h2>No Tasks</h2>
            {% endif %}
        </div>
    </div>
 </div>
{% endblock %}