{% extends 'tracker_app/base.html' %}

{% block title %}List info{% endblock %}

{% block content %}
<div class="container">
    <h2>List info</h2>
    <table class="table table-striped">
        <tbody >
            <tr>
                <td>Id</td>
                <td>{{ list.id }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ list.name }}</td>
            </tr>
            <tr>
                <td>Author</td>
                <td>{{ list.user }}</td>
            </tr>
            <tr>
                <td>Observers
                     {% if list.user == user.username  %}
                      <a href={% url 'add_subscriber' list=list.id task_id=0 %}  class="btn btn-primary ml-2">add</a>
                     {% endif %}
                </td>
                <td>
                    {% if list.observers %}
                        {% for observer in list.observers %}
                            <div  class="btn btn btn-secondary">{{ observer.user }}
                                {% if list.user == user.username  %}
                                    <a type='submit' href={% url 'remove_subscriber' list=list.id task_id=0 subscriber_id=observer.id %} class="btn btn-danger btn-sm" onclick="return confirm('Do you really want to remove this executor?')">
                                        <i class="fa fa-times"></i>
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        No observers
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}