{% extends 'tracker_app/base.html' %}

{% block title %}Notifications{% endblock %}

{% block content %}
<div class="container">
     <div class="row">
         {% if key == 'current' %}
             <a href={% url 'show_notifications' key='current' %} class="btn btn-primary">
                Current
             </a>
             <a href={% url 'show_notifications' key='viewed' %} class="btn btn-secondary">
                Viewed
             </a>
         {% else %}
            <a href={% url 'show_notifications' key='current' %} class="btn btn-secondary">
                 Current
            </a>
            <a href={% url 'show_notifications' key='viewed' %} class="btn btn-primary">
                 Viewed
            </a>
         {% endif %}
    </div>
    {% if notifications %}
        <table class="table table-bordered">
            <tbody>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Text</th>
                        <th>Status</th>
                        <th>Task</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for notification in notifications %}
                    <tr>
                        <td>
                            {{ notification.date }}
                        </td>
                        <td>
                            {% if notification.text  %}
                                  {{ notification.text }}
                            {% else %}
                               No text
                            {% endif%}
                        </td>
                        <td>
                            {% if notification.is_shown %}
                                shown
                            {% else %}
                                not shown
                            {% endif %}
                        </td>
                         <td>
                             {% if notification.task %}
                                 <a  class="btn btn btn-secondary" href={% url 'show_task' list='notifications' task_id=notification.task.id %}>
                                    {{ notification.task.name }}, id {{ notification.task_id}}
                                 </a>
                             {% else %}
                                No task
                             {% endif %}
                        </td>
                        <td>
                            {% if key == "current" %}
                            <a class='btn btn-success btn-sm' href={% url 'change_notifications_status' notification_id=notification.id %}><i class="fa fa-arrow-up"></i></a>
                            <a href={% url 'remove_notification' list='notifications' task_id='0' notification_id=notification.id %} class="btn btn-danger btn-sm" onclick="return confirm('Do you really want to remove this notification?')">
                                <i class="fa fa-times"></i>
                            </a>
                            {% else %}
                              <a href={% url 'remove_notification' list='notifications' task_id='1' notification_id=notification.id %} class="btn btn-danger btn-sm" onclick="return confirm('Do you really want to remove this notification?')">
                                <i class="fa fa-times"></i>
                            </a>
                            {% endif %}
                        </td>
                     </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No notifications</h2>
    {% endif %}
</div>
{% endblock %}