{% extends 'tracker_app/base.html' %}

{% block title %}Plans{% endblock %}

{% block content %}
<div class="container">
     <div class="row">
         <h3>Plans</h3>
         <a href={% url 'add_plan' %} class="btn btn-primary ml-2">Add</a>
    </div>
    {% if plans %}
        <table class="table">
            <tbody>
                 <thead>
                    <tr>
                        <th>Id</th>
                        <th>Period</th>
                        <th>Interval</th>
                        <th>Start of creation</th>
                        <th>Last create</th>
                         <th>Execution time</th>
                        <th>Template</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                    {% for plan in plans %}
                        <tr>
                            <td>
                                {{ plan.id }}
                            </td>
                            <td>
                                {{ plan.period }}
                            </td>
                            <td>
                                {{ plan.interval }}
                            </td>
                            <td>
                                {{ plan.creation_start }}
                            </td>
                            <td>
                                {% if plan.last_create %}
                                    {{ plan.last_create }}
                                {% else %}
                                    no task was created
                                {% endif %}
                            </td>
                            <td>
                                {% if plan.execution_time %}
                                    {{ plan.execution_time_str }}
                                {% else %}
                                    no execution time
                                {% endif %}
                            </td>
                             <td>
                                 <a  class="btn btn btn-secondary" href={% url 'show_task' list='plans' task_id=plan.task.id %}>
                                  {{ plan.task.name }}, id {{ plan.task_id}}
                                 </a>

                            </td>
                            <td>

                                <a  class='btn btn-default' href="{% url 'edit_plan' plan_id=plan.id %}"><i class="fa fa-pencil-alt"></i></a>
                                <a type='submit' href={% url 'remove_plan' plan_id=plan.id %} class="btn btn-danger btn-sm" onclick="return confirm('Do you really want to remove this plan?')">
                                    <i class="fa fa-times"></i>
                                </a>

                            </td>
                         </tr>
                    {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No plans</h2>
    {% endif %}
</div>
{% endblock %}