{% extends 'tracker_app/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% load bootstrap4 %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
        <input class='btn btn-primary' type=button value="Back" onClick="javascript:history.go(-1);">
        <button class="btn btn-info">OK</button>
    </form>
</div>
{% endblock %}