{% extends 'tracker_app/base.html' %}

{% block title %}Task info{% endblock %}

{% block content %}
{% load bootstrap4 %}
<div class="container">
        <h2>Task info</h2>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>{{ task.id }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ task.name }}</td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td>{{ task.user }}</td>
                </tr>
                <tr>
                    <td>Created</td>
                    <td>{{ task.created_at }}</td>
                </tr>
                {% if task.status.name != "TEMPLATE"%}
                    <tr>
                        <td>Deadline</td>
                        <td>{{ task.deadline }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Priority</td>
                    <td>{{ task.priority }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ task.status }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>
                    {% if task.description %}
                        {{ task.description}}
                    {% else %}
                        No description
                    {% endif %}
                    </td>
                </tr>
                {% if task.status.name != "ARCHIVED" %}
                    <tr>
                        <td>
                            Parent task
                            {% if task.status.name != "ARCHIVED" and task.user == user.username %}
                                <a href={% url 'edit_parent' list=list task_id=task.id %}><i class="fa fa-pencil-alt"></i></a>
                            {% endif %}
                        </td>
                        <td >
                            {% if parent_task != "No parent"%}
                                <a href="{% url 'show_task' list=list task_id=parent_task.id %}" class='btn btn-info'>
                                    {{parent_task.name}}
                                </a>
                            {% else %}
                                No parent
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                    <tr>
                        <td>
                            List
                        </td>
                        <td >
                           {{ list_str }}
                        </td>
                    </tr>
                {% if task.status.name != "ARCHIVED" and task.status.name != "TEMPLATE"%}
                    <tr>
                        <td>Executors
                             {% if task.user == user.username  and task.task_list != None %}
                              <a href={% url 'add_subscriber' list=list task_id=task.id %}  class="btn btn-primary ml-2">add</a>
                             {% endif %}
                        </td>
                        <td>
                            {% if task.executors %}
                                {% for executor in task.executors %}
                                    <div  class="btn btn btn-secondary">{{ executor.user }}
                                        {% if task.status.name != "ARCHIVED" and task.user == user.username %}
                                            <a type='submit' href={% url 'remove_subscriber' list=list task_id=task.id subscriber_id=executor.id %} class="btn btn-danger btn-sm" onclick="return confirm('Do you really want to remove this executor?')">
                                                <i class="fa fa-times"></i>
                                            </a>
                                         {% endif %}
                                    </div>
                                {% endfor %}
                            {% else %}
                                No exutors
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Notifications
                            {% if task.status.name != "ARCHIVED" and task.user == user.username or is_executor%}
                                <a href={% url 'add_notification' list=list task_id=task.id %} class="btn btn-primary ml-2">
                                    Add
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                        {% if task_notifications %}
                            <table class="table table-bordered">
                                <tbody>
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Text</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    {% for notification in task_notifications %}
                                        <tr>
                                            <td>
                                                {{ notification.date }}
                                            </td>
                                            <td>
                                                {% if notification.text  %}
                                                      {{ notification.text }}
                                                {% else %}
                                                   No text
                                                {% endif%}
                                            </td>
                                            <td>
                                                {% if notification.is_shown %}
                                                    shown
                                                {% else %}
                                                    not shown
                                                {% endif %}
                                                </td>
                                                <td>
                                                    <a href={% url 'remove_notification' list=list task_id=task.id notification_id=notification.id %} class="btn btn-danger btn-sm" onclick="return confirm('Do you really want to remove this notification?')">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </td>

                                         </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            No notifications
                        {% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% if task.status.name != 'ARCHIVED' %}
                    <tr>
                        <td>Labels
                            {% if task.user == user.username or is_executor %}
                                <a href={% url 'add_label' list=list task_id=task.id %} class="btn btn-primary ml-2">
                                   add
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if task_labels %}
                                {% for label in task_labels%}
                                    <div class="btn btn btn-secondary">
                                        {{ label.name }}
                                    <a href={% url 'remove_label' list=list task_id=task.id label_id=label.id %} class="btn btn-danger">
                                        <i class="fa fa-times"></i>
                                    </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                No labels
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                 <tr>
                     {% if task.status.name == "TEMPLATE" %}
                     <td>Plan ids</td>
                     <td>
                        {% if task.plans %}
                        {% for plan in task.plans %}
                            <div class="btn btn btn-secondary">{{ plan.id }}</div>
                        {% endfor %}
                        {% else %}
                            No plans
                        {% endif %}
                        </td>
                     {% endif %}
                 </tr>
            </tbody>
        </table>
        {% if task.status.name != "ARCHIVED"%}
            <div class="tools">
                {% if task.user == user.username or is_executor %}
                    {% if is_executor %}
                        <a href="{% url 'edit_task_as_executor' list=list task_id=task.id path='taskshow' %}" class='btn btn-warning'> <i class="fa fa-pencil-alt"></i></a>
                    {% else %}
                        <a href="{% url 'edit_task' list=list task_id=task.id path='taskshow'%}" class='btn btn-warning'> <i class="fa fa-pencil-alt"></i></a>
                    {% endif %}
                    {% if task.status.name != "TEMPLATE" %}
                        <form style='display: inline-block;' action="{% url 'status_change' list=list task_id=task.id brpath='taskshow'%}" method='post'>
                           {% csrf_token %}
                            <button type='submit' class='btn btn-success'>
                                <i class="fa fa-arrow-up"></i>
                            </button>
                        </form>
                        {% if task.user == user.username %}
                            <form style='display: inline-block;' action="{% url 'remove_task' list=list task_id=task.id %}" method='post'>
                                {% csrf_token %}
                                <button type='submit' class='btn btn-danger' onclick="return confirm('Do you really want to remove this task?')"><i class="fa fa-trash" ></i></button>
                            </form>
                        {% endif %}
                    {% endif %}
                 {% endif %}
            </div>
        {% endif %}
        {% if task.status.name != "ARCHIVED" and task.status.name != "TEMPLATE" %}
        <div class="row" style="margin: 10px">
            {% if task.subtasks %}
                <h3>Subtasks:</h3>
            {% else %}
                <h3>No subtasks</h3>
            {% endif %}
            {% if task.user == user.username and task.status.name != "EXECUTED" and task.status.name != "FAILED"%}
                <a href="{% url 'add_task' list=list parent_id=task.id %}" class='btn btn-success'>Add new</a>
            {% endif %}
        </div>
        {% endif %}
        {% if task.subtasks %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Deadline</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subtask in task.subtasks %}
                        <tr>
                            <td>{{ subtask.id }}</td>
                            <td>{{ subtask.name }}</td>
                            <td>{{ subtask.created_at }}</td>
                            <td>{{ subtask.deadline }}</td>
                            <td>{{ subtask.priority }}</td>
                            <td>{{ subtask.status }}</td>
                            <td >
                                <a href={% url 'show_task' list=list task_id=subtask.id %} class='btn btn-info btn-sm'><i class="fa fa-eye"></i>
                                </a>
                                {% if task.status.name != "ARCHIVED" and subtask.user == user.username or subtask.id in executor_subtask_ids %}
                                    {% if subtask.user == user.username %}
                                        <a href="{% url 'edit_task' list=list task_id=subtask.id path='taskshow' %}" class='btn btn-warning btn-sm'>
                                            <i class="fa fa-pen"></i>
                                        </a>
                                        {% else %}
                                        <a href="{% url 'edit_task_as_executor' list=list task_id=subtask.id path='taskshow' %}" class='btn btn-warning btn-sm'>
                                            <i class="fa fa-pen"></i>
                                        </a>
                                    {% endif %}

                                    <form style='display: inline-block;' action="{% url 'status_change' list=list task_id=subtask.id brpath='subtask'%}" method='post'>
                                        {% csrf_token %}
                                        <button type='submit' class='btn btn-success btn-sm'>
                                            <i class="fa fa-arrow-up"></i>
                                        </button>
                                    </form>

                                    {% if subtask.user == user.username %}
                                        <form style='display: inline-block;' action="{% url 'remove_subtask_link' list=list task_id=task.id subtask_id=subtask.id%}" method='post'>
                                            {% csrf_token %}
                                            <button type='submit' class='btn btn-dark btn-sm' onclick="return confirm('Do you really want to detach this task?')">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </form>
                                        <form style='display: inline-block;' action="{% url 'remove_task' list=list task_id=subtask.id %}" method='post'>
                                            {% csrf_token %}
                                            <button type='submit' class='btn btn-danger btn-sm' onclick="return confirm('Do you really want to remove this task?')">
                                               <i class="fa fa-trash" ></i>
                                            </button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </td>
                        <tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>No subtasks</h2>
        {% endif %}
    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td colspan="3">
                        <h3>Commetns:</h3>
                    </td>
                </tr>
            </thead>
            <tbody>
            {% for comment in task.comments %}
                <tr>
                    <td width="20%">
                        {{ comment.user }}<br/>
                        {{ comment.date }}
                    </td>
                    <td>
                        {{ comment.text }}
                    </td>
                    <td>
                        {% if user.username == task.user or comment.user == user.username %}
                             <form style='display: inline-block;' action="{% url 'remove_comment' list=list task_id=task.id comment_id=comment.id%}" method='post'>
                                    {% csrf_token %}
                                    <button type='submit' class='btn btn-dark btn-sm' onclick="return confirm('Do you really want to detach this comment?')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                             </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3">
                    <form action="{% url 'add_comment' list=list task_id=task.id %}" method='post'>
                         {% csrf_token %}
                        <textarea class="form-control"  rows="4" placeholder="Comment" name="comment"></textarea>
                    <button type="submit" class='btn btn-success' style="margin-top:20px">Add new</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}