{% extends 'tracker_app/base.html' %}

{% block title %}Login{% endblock %}

{% block login %}

{% load bootstrap4 %}
<div class="container">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <button type="submit" class="btn btn-info">Login</button>
    </form>
</div>

{% endblock %}