{% extends 'tracker_app/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block login %}
{% load bootstrap4 %}
<div class="container">
    <h2>Sign up</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-info">Sign up</button>
    </form>
</div>
{% endblock %}
