.nav>a{
    margin-right: 10px;
}
h2 {
 text-align: center;
}
.th_actions{
    width: 170px;
}
.th_actions > a{
    margin-right:1px;
}
.tools{
    margin-bottom: 20px;
}
.row >a{
    margin-right: 5px;
    margin-top: 5px;
}
.row >h3{
    margin-right: 5px;
    margin-top: 5px;
}




